<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="attendance.yn.a606a"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <!-- 必选 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 网络通信 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 获取设备信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取MAC地址 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读写sdcard，storage等等 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 允许程序录制音频 -->
    <!-- 可选 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 获取logcat日志 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />


    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <!-- 读写 -->
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 调试 -->
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <!-- 写设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 挂载 -->
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <!-- 外置写 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.Main2Activity"
            android:launchMode="singleInstance"
            android:theme="@style/NoTitle_FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" /> -->
                <!-- <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" /> -->

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitle_FullScreen" />
        <activity
            android:name=".activity.SettingAct"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitle_FullScreen" />
        <activity
            android:name=".activity.QueryAct"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitle_FullScreen" />
        <activity
            android:name=".activity.AddUserAct"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitle_FullScreen" />
        <activity
            android:name=".activity.PersonAct"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitle_FullScreen" />
        <activity
            android:name=".activity.FaceTestActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitle_FullScreen" />
        <activity
            android:name=".activity.HandlerCheckAct"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitle_FullScreen" />
        <activity
            android:name=".activity.CameraActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitle_FullScreen" />
        <activity
            android:name=".activity.SingleUvcCamera"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitle_FullScreen">
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".activity.SingleUvcCamera2"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitle_FullScreen">
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>

        <receiver android:name=".receiver.USBDiskReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.FringerDemoAct"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitle_FullScreen">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter1" />
        </activity>


        <activity
            android:name=".finger.activity.TestActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="standard">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>

        <!--
          <activity
            android:name="com.Activity.TestActivity"
            android:label="TestActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
          -->

        <activity
            android:name=".finger.activity.FPDisplay"
            android:label="FPDisplay"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitle_FullScreen" />
    </application>

</manifest>